body{
    background: #545454;
}

#idImgTitre{
    margin-left: 41%;
}
         
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    font-family: cursive;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
    font-family: cursive;
}

#container h1{
    width: 38%;
    margin: 0 auto;
    font-family: cursive;
    padding-bottom: 10px;
}

#idButtonInscription {			/*style du bouton inscription*/
    background-color: #FFFFFF;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
	font-family: cursive;
    font-size: 14px;
    padding: 3% 24.8%;
    transition: all 0.3s;
   text-align: center;	
}

#idButtonInscription:hover {			/*effet d'ombre autour*/
	box-shadow: 0 0 2vw;
	background-color: #03a3ad;
}
                                        /* Style des inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    font-family: cursive;
    box-sizing: border-box;
}
                                /* Style des autres boutons */
input[type=submit] {
    background-color: #03a3ad;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid black;
    cursor: pointer;
    font-family: cursive;
    width: 100%;
}

input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}
