html {  
    margin: 0%;   
    padding: 0%;             /*on determine la taille de nos page 100*100*/
    width: 100vw;
    height: 100vh;
}

body {	
    margin: 0%;   
    padding: 0%;   		        /*taille du body et couleur*/
    height: 100vh;
	background: #5e5f5f;
}

header {                     /*taille du header et alignements*/
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #474646;
}

main {                  /*taille du main*/
    height: 75vh;
}

footer {                    /*taille du footer et alignements*/
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #474646;  
}   

form {
    width:100%;
    padding: 30px;
    border: 4px solid #000000;
    background: rgb(158, 158, 158);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container1{
    width:20%;
    margin-left: 40%;
    margin-top: -7%;
    font-family: cursive;
}

#container1 h1{
    width: 38%;
    font-size: 18px;
    font-family: cursive;
    margin: 0 auto;
    text-align: center ;
    padding-bottom: 10px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#ButtonAdd{                /*effets sur les autre boutons*/
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: solid black;
    cursor: pointer;
    width: 100%;
}

#ButtonAdd:hover {          
    background-color: white;
    color: #53af57;
    border: 1px solid #020302;
}

#ButtonSupp{                /*effets sur les autre boutons*/
    background-color: #920101;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: solid black;
    cursor: pointer;
    width: 100%;
}

#ButtonSupp:hover {          
    background-color: white;
    color: #920101;
    border: 1px solid #020302;
}

#ButtonMod{                /*effets sur les autre boutons*/
    background-color: #b99121;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: solid black;
    cursor: pointer;
    width: 100%;
}

#ButtonMod:hover {          
    background-color: rgb(87, 87, 87);
    color: #b99121;
    border: 1px solid #020302;
}

#idNomMenu{
		text-align: left;
		margin-left: 150px;
		margin-top: 20px;
		font-size: 24px;
        font-family: cursive;
		color: #FFFFFF;	
}

#idBarreInfo {        /*Couleur, taille et police du texte en footer*/
    color: #FFFFFF;
	font-family: cursive;
	font-size: 18px;
    width: 100%;
    text-align: center;
}

#idButton {			/*style des boutons dans le menu navigation*/
    background-color: #FFFFFF;
    border: 2px solid rgb(77, 77, 77);
    cursor: pointer;
	font-family: cursive;
    font-size: 12.5px;
    padding: 0.5% 3%;
    position: absolute;
    left:60%;
    transition: all 0.3s;	
}

#idButton:hover {			/*effet d'ombre autour des boutons*/
	box-shadow: 0 0 2vw;
	background-color: #03a3ad;
}

#idPresentation {					
	color: #ffffff;
	font-size: 14px;
	font-family: cursive;
}



